$color1: #1f2041ff;
$color2: #4b3f72ff;
$color3: #417b5aff;
$color4: #d0cebaff;
$color5: #e9d2c0ff;

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input[type='text'] {
  width: 90%;
  height: 10%;
  padding: 0;
  margin: 0;
  border: 2px solid $color1;
  border-top: 1px;
  font-size: 5vh;
  font-family: 'Courier New', Courier, monospace;
}
textarea:focus,
input:focus {
  outline: none;
}
#submit-button {
  width: 10%;
  padding: 0;
  background: $color4;
  text-align: center;
  font-size: 2vw;
  color: $color1;
  line-height: 50px;
  user-select: none; /* Standard */
  border: 2px solid $color1;
  border-top: 1px;
  border-left: 1px;
  &:hover {
    background-color: $color3;
    cursor: pointer;
  }
  &:active {
    color: purple;
  }
}
h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-color: $color3;
  // margin-bottom: 0;
}
#chat-container {
  width: 80%;
  height: 80vh;
  margin: 0em auto;
}
#chat-window {
  height: 90%;
  border: 2px solid $color1;
  padding: 1em;
  font-size: 20px;
  overflow-y: scroll;
  color: $color1;
}
#input-section {
  display: flex;
}
.chat-line {
  padding: 0;
  margin: 0;
}

$height: 16px;
$halfheight: ($height/2);
$thickness: 110%; // increase to make the line thicker
$offset: 4px;
$backgroundcolor: #fff;
$linecolor: $color1;

body {
  background: $backgroundcolor;
}

.zigzag {
  margin: 2em 0;
  margin-top: 0;
  background: $backgroundcolor;
  position: relative;
  height: $height;
  z-index: 1;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0)
        0 $halfheight,
      linear-gradient(135deg, $linecolor $halfheight, transparent 0) 0
        $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(
          -135deg,
          $backgroundcolor $halfheight,
          transparent 0
        )
        0 $halfheight,
      linear-gradient(135deg, $backgroundcolor $halfheight, transparent 0) 0
        $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}
