$color1: #1f2041ff;
$color2: #4b3f72ff;
$color3: #417b5aff;
$color4: #d0cebaff;
$color5: #e9d2c0ff;

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input[type='text'] {
  width: 90%;
  height: 10%;
  padding: 0;
  margin: 0;
  border: 2px solid $color1;
  font-size: 5vh;
  font-family: 'Courier New', Courier, monospace;
}
textarea:focus,
input:focus {
  outline: none;
}
#submit-button {
  width: 10%;
  padding: 0;
  background: $color4;
  text-align: center;
  font-size: 2vw;
  color: $color1;
  line-height: 50px;
  user-select: none; /* Standard */
  border: 2px solid $color1;
  &:hover {
    background-color: $color3;
    cursor: pointer;
  }
  &:active {
    color: purple;
  }
}
#chat-container {
  width: 80%;
  height: 80vh;
  margin: 10em auto;
}
#chat-window {
  height: 90%;
  border: 2px solid $color1;
  padding: 1em;
  font-size: 20px;
  overflow-y: scroll;
  color: $color1;
}
#input-section {
  display: flex;
}
.chat-line {
  padding: 0;
  margin: 0;
}
